.about {
  padding-bottom: 50px;

  &__crumbs {
    margin-bottom: 19px;
  }

  &__wrapper {
    display: flex;
  }

  &__photos {
    max-width: 565px;
    width: 100%;
  }

  &__slider {
    position: relative;
  }

  &__img-big {
    height: 420px;
    border: 1px solid var(--line);
    cursor: grab;
  }

  &__zoom {
    width: 66px;
    height: 66px;
    border-radius: 66px;
    background-color: var(--white);
    opacity: 0.7;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
  }

  &__img-small {
    height: 100px;
    border: 1px solid var(--line);
    transition: 0.2s ease;
    user-select: none;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--blue);
      transition: 0.2s ease;
    }
  }

  &__btn-prev,
  &__btn-next {
    width: 30px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;

    & svg {
      fill: var(--blue);
    }
  }

  &__btn-next {
    left: initial;
    right: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px 0;
    padding-left: 60px;
  }

  &__title {
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 20px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }

  &__block {
    display: flex;
    gap: 0 70px;
    margin-bottom: 26px;
  }

  &__price {
    display: block;
    line-height: 100%;
  }

  &__oldprice {
    display: block;
    line-height: 100%;
    text-decoration: line-through;
    opacity: 0.2;
  }

  &__btn {
    font-size: 20px;
    width: 260px;
    margin-bottom: 26px;
  }

  &__share {
    margin-bottom: 8px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 30px;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 0 12px;
  }

  &__link {
    display: flex;
  }

  &__favorites {
    display: flex;
    align-items: center;
    gap: 0 16px;
  }
}
