.btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--black);

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;

  &--outline {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black);
  }

  &--h60 {
    height: 60px;
  }
}

@media (max-width: 767px) {
  .btn {
    font-size: 14px;
  }
}
