.catalog {
  padding-bottom: 54px;

  &__crumbs {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__sort {
    margin-bottom: 22px;
  }

  &__wrapper {
    margin: 0 -60px 42px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__pagination {
    padding-left: 28px;
  }
}
