.footer {
  padding-top: 62px;
  padding-bottom: 64px;
  background-color: #f9f9f9;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 20px;
    padding-right: 46px;
    margin-bottom: 94px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
  }

  &__name {
    font-weight: 600;
    font-size: 12px;
  }

  &__link {
    color: var(--black);
    font-size: 15px;
  }

  &__dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 10px;
    cursor: pointer;
  }

  &__flag {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid var(--white);
    overflow: hidden;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
  }

  &__number {
    color: var(--blue);
  }

  &__addinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
  }

  &__text {
    font-size: 13px;
    opacity: 0.5;
  }

  &__phone {
    margin-left: 6px;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 0 20px;
  }

  &__policy {
    font-size: 13px;
    opacity: 0.5;
  }
}
