:root {
  --black: #000;
  --gray: #c8c7cc;
  --white: #fff;
  --red: #ff3b30;
  --blue: #007aff;
  --yellow: #ffd200;
  --line: #efefef;
}

html {
  scroll-behavior: smooth;
}

html.block {
  overflow: hidden;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  color: var(--black);
}

.hidden {
  display: none !important;
}
