.header {
  padding: 30px 0 20px;
  margin-bottom: 13px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 22px;
  }

  &__list {
    display: flex;
    align-items: flex-end;
    gap: 0 23px;
  }

  &__item {
    position: relative;
    display: flex;
  }

  &__link {
    display: flex;
  }

  &__count {
    position: absolute;
    bottom: 5px;
    left: -10px;
    z-index: 10;

    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    border: 2px solid var(--white);
    background-color: var(--red);

    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: var(--white);

    &--blue {
      background-color: var(--blue);
    }
  }
}
