.pagination {
  max-width: 596px;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 0 21px;

  &__page {
    opacity: 0.2;
  }

  &__link {
    &.active {
      color: var(--blue);
    }
  }

  &__show {
    cursor: pointer;
    margin-left: auto;
  }
}
