.popular {
  &--padding {
    padding: 60px 0;
  }

  &__subtitle {
    text-align: center;
    opacity: 0.5;
    margin-bottom: 12px;
  }

  &__title {
    text-align: center;
    margin-bottom: 48px;
  }

  &__wrapper {
    display: flex;
    margin: 0 -60px;
  }
}
