.title {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: var(--black);
  text-transform: uppercase;
}

// @media (max-width: 767px) {
//   .title {
//     font-size: 32px;
//   }
// }
