.user {
  padding-top: 26px;
  padding-bottom: 38px;

  &__title {
    margin-bottom: 56px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    gap: 0 25px;
  }

  &__about {
    display: flex;
    gap: 0 35px;
    margin-bottom: 28px;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: var(--black);
    white-space: nowrap;

    &--color {
      opacity: 0.5;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }

  &__btn {
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;

    width: initial;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__block {
    margin-left: 40px;
  }

  &__discount {
    margin-bottom: 25px;
  }

  &__percent {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--black);

    display: flex;
    align-items: center;
    gap: 0 6px;

    &--text {
      font-weight: 500;
      font-size: 13px;
      line-height: 130%;

      display: block;
      margin-top: 4px;
    }
  }

  &__link {
    font-size: 15px;
    color: var(--blue);
  }
}
